version: '3'
services:
    summarizer-model-api:
        image: keiseithunder/coeus-summarizer-api:0.1.3
        container_name: summarizer-model-api
        restart: unless-stopped
        ports:
            - "5001:5000"

    spacy-model-api:
        image: keiseithunder/coeus-spacy-api:0.1.7
        container_name: spacy-model-api
        restart: unless-stopped
        ports:
            - "5002:5000"

    qa-model-api:
        image: keiseithunder/coeus-qa-api:0.1.4
        container_name: qa-model-api
        restart: unless-stopped
        ports:
            - "5003:5000"

    clustering-model-api:
        image: keiseithunder/coeus-clustering-api:0.1.7
        container_name: clustering-model-api
        restart: unless-stopped
        ports:
            - "5004:5000"

    gensim-model-api:
        image: keiseithunder/coeus-gensim-api:0.1.0
        container_name: gensim-model-api
        restart: unless-stopped
        ports:
            - "5005:5000"

    apache-tika:
        image: apache/tika
        container_name: apache-tika
        restart: unless-stopped
        ports:
            - "9998:9998"

    coeus-main-api:
        image: keiseithunder/coeus-main-api:0.1.13
        container_name: coeus-main-api
        restart: unless-stopped
        ports:
            - "5000:5000"
        depends_on:
            - summarizer-model-api
            - spacy-model-api
            - qa-model-api
            - clustering-model-api
            - gensim-model-api
            - apache-tika

    coeus-frontend:
        image: keiseithunder/coeus-frontend:0.1.2
        container_name: coeus-frontend
        restart: unless-stopped
        ports:
            - "8080:80"
        depends_on: 
            - coeus-main-api
